{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="card-body w-50 mx-auto p-5 m-5" style="border:2px solid gray;">
<h3 class="card-title"><b>REGISTER</b></h3><hr>
<form method="post" action="{% url 'register' %}">

    {% csrf_token %}

    {% if form.errors %}
    <p>Something went wrong....!</p>
    {% endif %}

    {{ form }}
    <input type="submit" value="Register">
    New User!, Please <a href="/accounts/login">login here</a>
</form>
</div></div>
{% endblock %}